<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
      <add key="Mail" value="companyhora@gmail.com"/>      
      <add key="Password" value=""/>
      <add key="Href" value="https://gmail.com"/>
      <add key="Name" value="HoraCompany"/>
      <add key="port_v" value="8333"/>
      <add key="port_c" value="8334"/>
      <add key="port_f" value="8335"/>
      <add key="port_m" value="8336"/>
    </appSettings>
</configuration>
